.expand_more_fill1_wght300_grad0_opsz48-2 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 18px;
  margin-bottom: 1.4px;
  margin-left: 42px;
  padding: 0 5px;
  width: 18px;
}

.vector-26 {
  height: 4px;
  width: 8px;
}

.expand_more_fill1_wght300_grad0_opsz48-2.expand_more_fill1_wght300_grad0_opsz48-2-1,
.expand_more_fill1_wght300_grad0_opsz48-2.expand_more_fill1_wght300_grad0_opsz48-2-3,
.expand_more_fill1_wght300_grad0_opsz48-2.expand_more_fill1_wght300_grad0_opsz48-2-5,
.expand_more_fill1_wght300_grad0_opsz48-2.expand_more_fill1_wght300_grad0_opsz48-2-7,
.expand_more_fill1_wght300_grad0_opsz48-2.expand_more_fill1_wght300_grad0_opsz48-2-9,
.expand_more_fill1_wght300_grad0_opsz48-2.expand_more_fill1_wght300_grad0_opsz48-2-11 {
  margin-left: 35px;
}

.expand_more_fill1_wght300_grad0_opsz48-2.expand_more_fill1_wght300_grad0_opsz48-2-2,
.expand_more_fill1_wght300_grad0_opsz48-2.expand_more_fill1_wght300_grad0_opsz48-2-4,
.expand_more_fill1_wght300_grad0_opsz48-2.expand_more_fill1_wght300_grad0_opsz48-2-6,
.expand_more_fill1_wght300_grad0_opsz48-2.expand_more_fill1_wght300_grad0_opsz48-2-8,
.expand_more_fill1_wght300_grad0_opsz48-2.expand_more_fill1_wght300_grad0_opsz48-2-10 {
  margin-left: 14px;
}

