.group-54 {
  align-items: center;
  display: flex;
  height: 21px;
  min-width: 135px;
}

.detected-this-week {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 1.0px;
  min-height: 18px;
  min-width: 119px;
  white-space: nowrap;
}

.number-115 {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 2px;
  min-height: 21px;
  min-width: 16px;
  white-space: nowrap;
}

