.beer-can-svgrepo-com-3 {
  align-items: flex-start;
  display: flex;
  height: 23px;
  left: 0;
  padding: 0 4px;
  position: absolute;
  top: 19px;
  width: 23px;
}

.vector-14 {
  height: 23px;
  margin-left: 1px;
  width: 14px;
}

.beer-can-svgrepo-com-3.beer-can-svgrepo-com-2,
.beer-can-svgrepo-com-3.beer-can-svgrepo-com-2-1,
.beer-can-svgrepo-com-3.beer-can-svgrepo-com-2-2,
.beer-can-svgrepo-com-3.beer-can-svgrepo-com-2-3,
.beer-can-svgrepo-com-3.beer-can-svgrepo-com-2-4,
.beer-can-svgrepo-com-3.beer-can-svgrepo-com-2-5 {
  height: unset;
  left: unset;
  position: unset;
  top: unset;
}

