.group-85-2,
.group-85-3,
.group-85-4 {
  align-items: center;
  background-color: var(--caribbean-green-pearl);
  box-shadow: 0px 2px 10px #00000026;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  left: 602px;
  min-width: 124px;
  padding: 0 17px;
  position: absolute;
  top: 101px;
}

.record-2,
.record-3,
.record-4 {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 4px;
  min-height: 24px;
  min-width: 67px;
  text-align: center;
  white-space: nowrap;
}

