.homepage {
  align-items: flex-start;
  background-color: var(--white-2);
  display: flex;
  height: 1024px;
  min-width: 1440px;
}

.overlap-group18 {
  height: 1028px;
  position: relative;
  width: 1440px;
}

.homepage-background-mask {
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.daily-live-count {
  font-weight: 600;
  left: 23px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 101px;
  white-space: nowrap;
}

.of-all-categories {
  left: 23px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 126px;
  white-space: nowrap;
}

.for-all-categories {
  left: 832px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 126px;
  white-space: nowrap;
}

.of-all-categories-1 {
  left: 830px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 661px;
  white-space: nowrap;
}

.recommendations {
  font-weight: 600;
  left: 23px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 553px;
  white-space: nowrap;
}

.based-on-your-activity {
  left: 23px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 578px;
  white-space: nowrap;
}

.line-1 {
  height: 3px;
  left: 316px;
  position: absolute;
  top: 554px;
  transform: rotate(-90deg);
  width: 945px;
}

.your-activity {
  font-weight: 600;
  left: 830px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 101px;
  white-space: nowrap;
}

.total-count {
  font-weight: 600;
  left: 830px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 636px;
  white-space: nowrap;
}

.group-100 {
  align-items: flex-start;
  background-color: var(--white-2);
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  left: 1126px;
  min-width: 141px;
  padding: 11.3px 10.7px;
  position: absolute;
  top: 101px;
}

.monthly {
  letter-spacing: 0;
  line-height: 25px;
  min-height: 24px;
  min-width: 66px;
  white-space: nowrap;
}

.line-10-1 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 84px;
  width: 1441px;
}

.surname {
  left: 909px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 178px;
  white-space: nowrap;
}

.paper {
  left: 908px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: right;
  top: 250px;
  white-space: nowrap;
}

.cardboard {
  left: 857px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: right;
  top: 321px;
  white-space: nowrap;
}

.plastic {
  left: 894px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: right;
  top: 393px;
  white-space: nowrap;
}

.metal {
  left: 907px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: right;
  top: 464px;
  white-space: nowrap;
}

.trash {
  left: 906px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: right;
  top: 535px;
  white-space: nowrap;
}

.frame-9-1 {
  align-items: flex-end;
  background-color: var(--white-2);
  cursor: pointer;
  display: flex;
  height: 80px;
  left: 24px;
  overflow: hidden;
  padding: 2px 0;
  position: absolute;
  top: 0;
  width: 103px;
}

.overlap-group17 {
  height: 67px;
  margin-left: -5px;
  position: relative;
  width: 94px;
}

.overlap-group3-1 {
  height: 53px;
  left: 19px;
  position: absolute;
  top: 0;
  width: 51px;
}

.ellipse-21-1 {
  background-color: var(--white-4);
  border-radius: 51px/3px;
  height: 3px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 51px;
}

.ellipse-17-1 {
  height: 23px;
  left: 8px;
  position: absolute;
  top: 3px;
  width: 34px;
}

.vector-21 {
  height: 1px;
  left: 41px;
  position: absolute;
  top: 8px;
  width: 1px;
}

.vector-22 {
  height: 1px;
  left: 9px;
  position: absolute;
  top: 10px;
  width: 1px;
}

.vector-23 {
  height: 2px;
  left: 30px;
  position: absolute;
  top: 10px;
  transform: rotate(16.72deg);
  width: 7px;
}

.subtract-1 {
  height: 43px;
  left: 3px;
  position: absolute;
  top: 9px;
  width: 46px;
}

.group-19-1 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 11px;
  left: 8px;
  min-width: 33px;
  padding: 0 6.0px;
  position: absolute;
  top: 0;
}

.ellipse-container-1 {
  height: 8px;
  margin-bottom: -1.03px;
  position: relative;
  width: 20px;
}

.ellipse-5-1 {
  height: 8px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 18px;
}

.ellipse-6-1 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 4px;
}

.vector-1-2 {
  height: 22px;
  left: 31px;
  position: absolute;
  top: 27px;
  width: 11px;
}

.overlap-group1-3 {
  background-size: 100% 100%;
  height: 5px;
  left: 23px;
  position: absolute;
  top: 19px;
  width: 8px;
}

.overlap-group-2 {
  height: 2px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 6px;
}

.ellipse-12-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-8.11deg);
  width: 6px;
}

.polygon-2-1 {
  height: 1px;
  left: 5px;
  position: absolute;
  top: 0;
  transform: rotate(151.87deg);
  width: 1px;
}

.polygon-1-1 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 3px;
  transform: rotate(11.91deg);
  width: 1px;
}

.rectangle-49-1 {
  height: 6px;
  left: 17px;
  position: absolute;
  top: 12px;
  width: 3px;
}

.rectangle-52-1 {
  height: 6px;
  left: 30px;
  position: absolute;
  top: 12px;
  transform: rotate(180deg);
  width: 3px;
}

.ellipse-15-1 {
  background-color: var(--mona-lisa);
  border-radius: 4px/1px;
  height: 1px;
  left: 13px;
  position: absolute;
  top: 19px;
  width: 4px;
}

.ellipse-16-1 {
  background-color: var(--mona-lisa);
  border-radius: 4px/1px;
  height: 1px;
  left: 36px;
  position: absolute;
  top: 19px;
  width: 4px;
}

.vector-24 {
  height: 2px;
  left: 14px;
  position: absolute;
  top: 10px;
  transform: rotate(-17.65deg);
  width: 7px;
}

.ellipse-18-1 {
  height: 5px;
  left: 31px;
  position: absolute;
  top: 37px;
  width: 4px;
}

.polygon-3-1 {
  height: 8px;
  left: 21px;
  position: absolute;
  top: 26px;
  width: 10px;
}

.ellipse-19-1 {
  height: 2px;
  left: 28px;
  position: absolute;
  top: 49px;
  transform: rotate(-3.04deg);
  width: 4px;
}

.ellipse-20-1 {
  height: 1px;
  left: 20px;
  position: absolute;
  top: 49px;
  transform: rotate(-3.57deg);
  width: 4px;
}

.overlap-group2-1 {
  height: 25px;
  left: 3px;
  position: absolute;
  top: 28px;
  width: 21px;
}

.rectangle-47-1 {
  height: 23px;
  left: 1px;
  position: absolute;
  top: 1px;
  transform: rotate(-6.55deg);
  width: 18px;
}

.rectangle-51-1 {
  height: 20px;
  left: 3px;
  position: absolute;
  top: 3px;
  transform: rotate(-11.04deg);
  width: 8px;
}

.recycling_fill0_wght400_grad0_opsz48-1-1 {
  align-items: flex-start;
  display: flex;
  height: 9px;
  left: 5px;
  overflow: hidden;
  position: absolute;
  top: 8px;
  width: 9px;
}

.vector-25 {
  height: 10px;
  margin-top: -0.32px;
  width: 11px;
}

.count-trashkula-1 {
  left: 0;
  letter-spacing: -0.16px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  top: 31px;
  width: 94px;
}

.group-85 {
  align-items: center;
  background-color: var(--caribbean-green-pearl);
  box-shadow: 0px 2px 10px #00000026;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  left: 602px;
  min-width: 124px;
  padding: 0 17px;
  position: absolute;
  top: 101px;
}

.record {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 4px;
  min-height: 24px;
  min-width: 67px;
  text-align: center;
  white-space: nowrap;
}

