.next_plan_fill0_wght400_grad0_opsz48-1 {
  align-items: flex-end;
  display: flex;
  height: 48px;
  left: 159px;
  padding: 4px;
  position: absolute;
  top: 832px;
  width: 48px;
}

.vector-13 {
  height: 38px;
  width: 40px;
}

.next_plan_fill0_wght400_grad0_opsz48-1.next_plan_fill0_wght400_grad0_opsz48-2 {
  left: 376px;
}

